<section id="blog" class="pb-0 bg-success-subtle">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img
          src="img/icons/blogs.png"
          class="wow bounceIn text-primary"
          data-wow-delay=".4s"
        />
        <h2 class="section-heading">Recent Blogs</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div
        id="retainable-rss-embed"
        data-rss=""
        data-maxcols="3"
        data-layout="grid"
        data-poststyle="inline"
        data-readmore="Read more..."
        data-buttonclass="btn btn-primary"
        data-offset="-100"
      ></div>
    </div>
  </div>
  <div class="progress">
    <div
      class="progress-bar bg-dark"
      role="progressbar"
      style="width: 100%"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
</section>
