<section id="services" class="'bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img
          src="img/icons/blogs.png"
          class="wow bounceIn text-primary"
          data-wow-delay=".4s"
        />
        <h2 class="section-heading">Recent Blogs</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div
        id="retainable-rss-embed"
        data-rss="https://medium.com/feed/@coderhimanshu"
        data-maxcols="3"
        data-layout="grid"
        data-poststyle="inline"
        data-readmore="Read more..."
        data-buttonclass="btn btn-primary"
        data-offset="-100"
      ></div>
    </div>
  </div>
</section>
