<section class="bg-primary" id="about">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h2 class="section-heading">
        I
        <i class="fa fa-heart-o" style="font-size: 30px; color: red"></i>
        developing interactive websites!
      </h2>
      <hr class="light" />

      <p>
        💻 I specialize in developing interactive websites. I believe that
        websites are the way to tell your story to the world. I always look
        forward to work on fun projects.
      </p>
      <p>
        🚀 I enjoy exploring the vast universe of tech, both front-end and
        back-end. There's always something new to learn and to experiment with.
        I find the challenge of mastering new programming languages not only
        rewarding but also incredibly fun!
      </p>
      <p>
        🌐 Take a look at my portfolio below, if you think I'd be a good match
      </p>
    </div>
    <div class="'bg-dark">
      <h2>Checkout My Resume!</h2>
      <a
        href="https://himanshu-resume.surge.sh/"
        target="_blank"
        class="btn btn-default btn-xl wow tada"
        >My Resume!</a
      >
    </div>
  </div>
</section>
