<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">
          I
          <i class="fa fa-heart-o" style="font-size: 30px; color: red"></i>
          developing interactive websites!
        </h2>
        <hr class="light" />
        <p class="text-faded">
          I specialize in developing sites for individuals and small businesses.
          I believe that websites are the way to tell your story to the world. I
          always look forward to work on fun projects. Take a look at my
          portfolio below, if you think I'd be a good match >>>
        </p>
        <a href="#contact" class="btn btn-primary btn-xl page-scroll"
          >Contact Me!</a
        >
      </div>
    </div>
  </div>
</section>
