<header>
  <div class="header-content">
    <div class="header-content-inner">
      <img src="img/HimanshuKumar.jpg" class="img-thumbnail" />
      <h1>Passionate Full Stack Engineer</h1>
      <hr />
      <p>
        Full Stack Developer with a passion for delivering quality software. I
        strive to motivate individuals and showcase the qualities of a great
        teammate. I constantly seek to learn new technologies within the client
        user interface and backend programming. I have always considered
        learning new programming languages fun and exciting!
      </p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll"
        >Find Out More</a
      >
    </div>
  </div>
</header>
