<header>
  <div class="header-content">
    <div class="header-content-inner">
      <div style="text-align: center">
        <img
          src="../img/Himanshu.jpeg"
          alt="Himanshu Kumar"
          width="200"
          height="200"
          style="border-radius: 50%; border: 5px solid white"
        />
      </div>
      <h1>Passionate Full Stack Engineer</h1>
      <hr />
      <p>
        Full Stack Engineer with a passion for delivering quality software. I
        strive to motivate individuals and showcase the qualities of a great
        teammate. I constantly seek to learn new technologies within the client
        user interface and backend programming. I have always considered
        learning new programming languages fun and exciting!
      </p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll"
        >Find Out More</a
      >
    </div>
  </div>
</header>
