<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <i
          class="fa fa-4x fa-solid fa-code wow bounceIn text-primary"
          data-wow-delay=".1s"
        ></i>
        <h2 class="section-heading">Tech Stack</h2>
        <hr class="primary" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 text-center">
        <div class="service-box">
          <img src="img/icons/js.png" class="wow bounceIn text-primary" />
          <h3>JavaScript</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 text-center">
        <div class="service-box">
          <img
            src="img/icons/python.png"
            class="wow bounceIn text-primary"
            data-wow-delay=".1s"
          />
          <h3>Python</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 text-center">
        <div class="service-box">
          <img
            src="img/icons/postgresql.png"
            class="wow bounceIn text-primary"
            data-wow-delay=".2s"
          />
          <h3>PostgreSQL</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 text-center">
        <div class="service-box">
          <img
            src="img/icons/jquery.png"
            class="wow bounceIn text-primary"
            data-wow-delay=".3s"
          />
          <h3>jQuery</h3>
          <!-- <p class="text-muted">
            You have to make your websites with love these days!
          </p> -->
        </div>
      </div>
      <div class="col-lg-3 col-md-3 text-center">
        <div class="service-box">
          <img
            src="img/icons/restAPI.png"
            class="wow bounceIn text-primary"
            data-wow-delay=".2s"
          />
          <h3>RESTful API</h3>
        </div>
      </div>
    </div>
  </div>
</section>
